
body
{
    background-color: rgb(241, 228, 215);
   min-height: 100vh;
}

.firstclass
{
    border: black;
    border-width: 2px;
    background-color: rgb(243, 170, 170);
    color: black;
}

.secondclass
{
    border: black;
    
    background-color: rgb(201, 188, 236);
    color: black;
}

.thirdclass
{
    border: black;
    
    background-color: rgb(238, 202, 192);
    color: black;
}

.fourthclass
{
    border: black;
    
    background-color: rgb(231, 164, 164);
    color: black;
}

.fifthclass
{
    border: black;
    
    background-color: rgb(144, 184, 236);
    color: black;
}

#ifMobile1 {
    background-image: src='cc logo.jpg'
}


/* .headclass
{
    border: black;
    
    background-color: rgb(185, 184, 243);
    color: black;
} */

.buttonclass
{
   
    border: "1";
    color: rgb(1, 1, 19);
    background-color: rgb(52, 71, 124);
    padding: 3px 3px;
   
    text-decoration: none;
    border-bottom: rgb(13, 7, 19);
    position: relative;
    font-size: 5px;
    margin: 40px 2px;
    cursor: pointer;
    display: inline-block;

}

.button2class
{
    background-color: rgb(240, 189, 156);
    color: rgb(19, 17, 17);
}

.blackmode
{
    visibility: visible;
    
    border: '1';
    background-color: black;
    color: whitesmoke;
    font-size: medium;
    margin: 20px 20px;
    display: inline-block;
    border-bottom: midnightblue;
    padding: 5px 20px;

    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    
}

#whitemode
{
    visibility: hidden;
    position: absolute;
    right: 0.5%;
    border: '1';
    background-color: rgb(245, 245, 245);
    color: rgb(8, 8, 8);
    font-size: medium;
    margin: 20px 20px;
    display: inline-block;
    border-bottom: rgb(13, 13, 17);
    padding: 5px 20px;

    text-decoration: none;
    border-radius: 10px 10px 10px 10px; 
} 

@media (min-width: 90px) 
{
    body
{
   height: 100vh;
 

}
#picture
{
    height: 20vh;
  width: 20vh;
    padding: 0 2em;
}
}
/* div
{
   
    background-color: black;
}  */