
body
{
    background-color: rgb(236, 204, 236);
}

.firstclass
{
    border: black;
    border-width: 2px;
    background-color: rgb(243, 170, 170);
    color: black;
}

.secondclass
{
    border: black;
    
    background-color: rgb(201, 188, 236);
    color: black;
}

.thirdclass
{
    border: black;
    
    background-color: rgb(212, 168, 154);
    color: black;
}

.fourthclass
{
    border: black;
    
    background-color: rgb(235, 189, 232);
    color: black;
}

.fifthclass
{
    border: black;
    
    background-color: rgb(144, 184, 236);
    color: black;
}

.headclass
{
    border: black;
    
    background-color: rgb(185, 184, 243);
    color: black;
}

.buttonclass
{
   
    border: "1";
    color: rgb(1, 1, 19);
    background-color: rgb(52, 71, 124);
    padding: 3px 3px;
   
    text-decoration: none;
    border-bottom: rgb(13, 7, 19);
    position: relative;
    font-size: 5px;
    margin: 40px 2px;
    cursor: pointer;
    display: inline-block;

}

.button2class
{
    background-color: rgb(240, 189, 156);
    color: rgb(19, 17, 17);
}

.form
{
    background-color: rgb(102, 180, 128);
    color: black;
}

/* div
{
   
    background-color: rgb(208, 181, 235);
} */