body
{
    background-color:rgb(179, 179, 165);
}


/* ID Selector  */
/*div
{
    color: black;
    background-color: rgb(240, 240, 119);
}

#div2
{
    color: crimson;
}


#div3
{
    color: white;
    background-color: rgb(185, 177, 177);
}*/

/* Class Selector  */
/*div.myclass
{
    background-color: rgb(163, 58, 19);
    color: black;
}
*/

/* Grouping Selector  */
/*div,p
{
    color: rgb(34, 25, 18);
    background-color: cyan;
}*/

/* Traversing Selector  */

